<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8" />
  <title>FAQ - INATRO</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <div class="login-box">
    <h2>Perguntas Frequentes (FAQ)</h2>
    <ul>
      <li>Como posso renovar minha carta?</li>
      <li>Quais documentos são necessários?</li>
      <li>Qual o prazo para entrega?</li>
    </ul>
    <a href="/">Voltar</a>
  </div>
</body>
</html>
